//Tipografías

//Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


//Variables
$texto: 'Lato', sans-serif;


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(27, 27, 27);
    font-family: $texto;
}


.portada{
    height: 400px;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    transform: translateX(-100%);
}

.portada.animation{
  transition: 1.5s;
  transform: translateX(0);
}

.portada h1{
    font-size: 4em;
}

.portada p{
    font-size: 2em;
    font-weight: 300;
}

.portada img{
  width: 600px;
}

.games h2{
  margin-bottom: 50px;
}

//Slider 1

.sect1{
  display: grid;
  grid-template-columns: 70% 30%;
  color: white;
}

.slider{
    display: grid;
    justify-content: center;
}

#sw1 {
  width: 90%;
  height: 500px;
  color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  align-content: flex-start;
  justify-content: flex-start;
}

.swiper-slide > div{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 20px;
}

.swiper-slide > div h2{
  text-align: left;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin fondo {
  background-repeat: no-repeat;
  background-size: cover;
}

#slide1-1{
  background-image: url(../img/Dully/Portada1.png);
  background-size: contain;
}

#slide1-2{
  background-image: url(../img/Dully/Personajes-negativo.png);
  background-size: contain;
}

#slide1-3{
  background-image: url(../img/Dully/Escenario1.png);
  background: cover;
  background-repeat: no-repeat;
}
//Reliquias

.game{
  display: grid;
  justify-content: center;
  align-content:flex-end;
}

.games h3{
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}

.games p{
  margin: 10px;
}

.game{
  background-color: rgba(0, 0, 0, 0.5);
  height: 350px;
  margin-right: 30px;
  padding: 20px;
}

.game a{
  text-decoration: none;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 auto;
  padding: 8px 50px;
  margin-top: 10px;
}

.game a:hover{
  background-color: white;
  color: black;
  font-weight: bolder;
}

.game:hover{
  box-shadow: rgb(255, 255, 255) 0.2em 0.2em 0.8em;
  transform: translateY(-15px);
  transition: 1s;
}

//Slider2

#sw2 {
  width: 100%;
  height: 300px;
  color: white;
}

.global-swiper-slide{
  margin: 50px 0 50px 0;
}

#slide2-1{
  background-image: url(../img/Control.jpg);
  @include fondo;
  background-position: 25% 50%;
}

#slide2-2{
  background-image: url(../img/Control2.jpg);
  @include fondo;
}

#slide2-3{
  background-image: url(../img/De-camara1.jpg);
  @include fondo;
  background-position: 10% 20%;
}

#slide2-4{
  background-image: url(../img/De-camara2.jpg);
  @include fondo;
  background-position: 10% 20%;
}

#slide2-5{
  background-image: url(../img/De-camara3.jpg);
  @include fondo;
  background-position: 10% 20%;
}



//Integrantes

.sub-title{
    color: white;
    text-align: center;
    font-size: 35px;
}

.creadores{
    display: grid;
    justify-content: center;
}

.sub-creadores{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.creadores img{
    width: 200px;
    border-radius: 50%;
}

.creadores p{
  color: white;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

//Footer

ion-icon{
  color: white;
  font-size: 50px;
}

footer{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px;
}

.footer1 img{
  width: 200px;
}

.footer2{
  display: flex;
  justify-content: right;
  gap: 10px;
}

//Resposive

@media screen and (max-width: 1220px){

  .img-slider{
    width: 600px;
  }

  #sw1{
    height: 300px;
  }
}

@media screen and (max-width: 950px){
  .img-slider{
    width: 400px;
  }

  .creadores img{
    width: 130px;
  }
}

@media screen and (max-width: 780px){
  .global-swiper-slide{
    display: grid;
    justify-content: center;
    margin: 0;
  }
  
  .games{
    margin: 30px;
  }

  .img-slider{
    width: 300px;
  }
  .portada{
    margin: 10px;
  }
  .portada img{
    width: 300px;
  }
  .sect1{
    grid-template-columns: 100%;
  }

  .sub-creadores{
    grid-template-columns: 50% 50%;
  }
  
  footer{
    grid-template-columns: 100%;
  }
  .footer1{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer2{
    justify-content: center;
  }
  .creadores img{
    width: 100px;
  }
}