@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b1b;
  font-family: "Lato", sans-serif;
}

.portada {
  height: 400px;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.portada.animation {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.portada h1 {
  font-size: 4em;
}

.portada p {
  font-size: 2em;
  font-weight: 300;
}

.portada img {
  width: 600px;
}

.games h2 {
  margin-bottom: 50px;
}

.sect1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  color: white;
}

.slider {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sw1 {
  width: 90%;
  height: 500px;
  color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.swiper-slide > div {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 20px;
}

.swiper-slide > div h2 {
  text-align: left;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#slide1-1 {
  background-image: url(../img/Dully/Portada1.png);
  background-size: contain;
}

#slide1-2 {
  background-image: url(../img/Dully/Personajes-negativo.png);
  background-size: contain;
}

#slide1-3 {
  background-image: url(../img/Dully/Escenario1.png);
  background: cover;
  background-repeat: no-repeat;
}

.game {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.games h3 {
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}

.games p {
  margin: 10px;
}

.game {
  background-color: rgba(0, 0, 0, 0.5);
  height: 350px;
  margin-right: 30px;
  padding: 20px;
}

.game a {
  text-decoration: none;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 auto;
  padding: 8px 50px;
  margin-top: 10px;
}

.game a:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
}

.game:hover {
  -webkit-box-shadow: white 0.2em 0.2em 0.8em;
          box-shadow: white 0.2em 0.2em 0.8em;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: 1s;
  transition: 1s;
}

#sw2 {
  width: 100%;
  height: 300px;
  color: white;
}

.global-swiper-slide {
  margin: 50px 0 50px 0;
}

#slide2-1 {
  background-image: url(../img/Control.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 50%;
}

#slide2-2 {
  background-image: url(../img/Control2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-title {
  color: white;
  text-align: center;
  font-size: 35px;
}

.creadores {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-creadores {
  margin: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.creadores img {
  width: 200px;
  border-radius: 50%;
}

.creadores p {
  color: white;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

ion-icon {
  color: white;
  font-size: 50px;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  padding: 30px;
}

.footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 10px;
}

@media screen and (max-width: 1220px) {
  .img-slider {
    width: 600px;
  }
}

@media screen and (max-width: 950px) {
  .img-slider {
    width: 400px;
  }
  .creadores img {
    width: 150px;
  }
}

@media screen and (max-width: 780px) {
  .global-swiper-slide {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .games {
    margin: 30px;
  }
  .img-slider {
    width: 300px;
  }
  .portada {
    margin: 10px;
  }
  .portada img {
    width: 300px;
  }
  .sect1 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .sub-creadores {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  footer {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .footer1 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .footer2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=index.css.map */